# Ignore node_modules
node_modules

# Ignore local environment files
.env
.env.sample
.env.development
.env.development.local
.env.test
.env.test.local
.env.production.local

# Ignore logs and debug files
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Ignore Next.js build output
.next
out

# Ignore Prisma migrations (optional, if you don't need them in the image)
prisma/migrations

# Ignore local README and documentation files
README.md
*.md

# Ignore any files related to Git and version control
.git
.gitignore
.gitattributes

# Ignore Dockerfile (it's not needed inside the image)
Dockerfile
docker-compose.yml
.dockerignore

# Ignore any editor or OS-specific files
.vscode
.idea
.DS_Store
Thumbs.db
